{% extends 'base.html' %}
{% block content %}

<h1 class="mb 3">Job Application Form</h1>
<div class="mb 3">
    <form method="post">
        {% csrf_token %}
        <div class="mb 3">
            <label class="form-label" for="first-name" >First Name: </label>
            <input class="form-control" type="text" id="first-name" name="first_name" required>
        </div>
        <div class="mb 3">
            <label class="form-label" for="last-name" >Last Name: </label>
            <input class="form-control" type="text" id="last-name" name="last_name" required>
        </div>
        <div class="mb 3">
            <label class="form-label" for="email" >Email: </label>
            <input class="form-control" type="text" id="email" name="email" required>
        </div>
        <div class="mb 3">
            <label class="form-label" for="date" >Available Date: </label>
            <input class="form-control" type="date" id="date" name="date" required>
        </div>
        <div class="mb 3">
            <label class="form-label" for="city" >Location (City): </label>
            <input class="form-control" type="text" id="city" name="city" required>
        </div>
        <div class="mb 3">
            <label class="form-label" for="occupation">Current Occupation: </label>
            <select class="form-select" id="occupation" name="occupation" required>
                <option selected disabled>Choose...</option>
                <option value="Employed">Employed</option>
                <option value="Unemployed">Unemployed</option>
                <option value="Self-Employed">Self-Employed</option>
                <option value="Student">Student</option>
            </select>
        </div>
        <div >
            <input class="btn btn-success" type="submit">
        </div>
    </form>
</div>

{% if messages %}
<div class="alert alert-success">
        {% for message in messages %} {{message}} {% endfor %}
</div>
{% endif %}

{% endblock %}